@media (max-width:650px) {
    .nav-item{
        display: none;
    }
    .nav-dropdown{
        display: block;
        cursor: pointer;
    }
    .svg:hover{
        fill: #F6FFFA;
    }
    .button{
        font-weight: 600;
        width: 75px;
        height: 29px;
    }
    .box-wrapper{
        height: 25rem;
    }
    .main-container{
        top: 4%;
    }
    .safety-container{
        flex-direction: column;
        align-items: center;
        margin: 2rem 0rem;
    }
    .safety-big-div{
        width: 88%;
        margin: 1rem;
        aspect-ratio: 1.45;
    }
    .safety-message{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: all 0.3s ease 0s; 
    }
    .safety-message-wrapper{
        width: 93%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    } 
    .safety-message-heading {
        position: relative;
        font-size: 1.525rem;
        line-height: 2.25rem;
        top:0%;
    }
    .safety-message-subtxt {
        position: relative;
        font-size: 0.85rem;
        line-height: 1.25rem;
        padding: 0.1875rem 1.75rem 1.1875rem 1.75rem; 
        top: 0%;
    }
    .text-heading-main{
        display: block;
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #395157;
        line-height: 3.89rem;
        margin: 2.25rem 0px;
    }
    .text-heading{
        font-size: 1.75rem;
    }
    .text-sub-heading{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #comment-3{
        display: none;
    }
    #comment-4{
        display: none;
    }
    .comment-wrapper{
        width: 96%;
    }
    .signature{
        margin-top:2rem;
    }
    #comma1{
        left: -7%;
    }
    .text-section{
        margin-bottom: 5rem;
    }
    .scroll-bar{
        margin: 4rem;
    }
    .faq{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .faq-text-container {
        width: 67%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .faq-dropdown-container {
        display: flex;
        flex-direction: column;
        width: 91%;
        gap: 1rem;
        margin-top: 36px;
      }
      .faq-sticker{
        aspect-ratio: 7.06 ;
      }
      .faq-text-subheading {
        display: flex;
        flex-wrap: wrap;
        max-width: 15.75rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: justify;
        justify-content: center;
        color: #395157;
        font-size: 1rem;
      }
      .faq-heading{
        font-size: 2.75rem;
        padding-bottom:20px;
      }
      .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .address{
        width: 87%;
        order:2;
      }
      .adresss-link {
        display: flex;
        gap: 5%;
        width: 100%;
        margin-bottom: 7%;
        align-items: center;
      }
      .address-text{
        font-size: 1.3rem;
        line-height: 1.48rem;
      }
      .about{
        width: 70%;
        margin-left: -0.5rem;
      }
      .about-heading{
        font-size: 1.75rem;
        line-height: 2rem;
      }
      .about-subtxt{
        font-size: 1.3rem;
        line-height: 1.65rem;
        margin-top: 0.875rem;
      }
      .main-txt {
        font-size: 2.5rem;
        line-height: 2.85rem;
    }
    .subtxt{
        font-size: 1.25rem;
        line-height: 1.6rem;
    }
    .reviews{
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        margin-top: 3rem;
        margin-left: 2rem;
        width: 90%;
    }
    .comment-comma-wrapper{
        width: 95%;
    }
}
@media (max-width:450px) {
    .main-txt{
        font-size: 2rem;
        line-height: 2.35rem;
    }
    .subtxt{
        font-size: 0.925rem;
        line-height: 1.3rem;
    }
}
@media (max-width:350px) {
    .main-txt{
        font-size:1.5rem;
        line-height: 2rem;
    }
    .subtxt{
        font-size: 0.725rem;
        line-height: 1rem;
    }
}